[submodule "zsh/plugins/powerlevel10k"]
	path = ubuntu/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = ubuntu/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = ubuntu/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-completions"]
	path = ubuntu/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/z"]
	path = ubuntu/zsh/plugins/z
	url = https://github.com/rupa/z.git
[submodule "zsh/plugins/fzf"]
	path = ubuntu/zsh/plugins/fzf
	url = https://github.com/junegunn/fzf.git
